<div class="leFadeInLeft main-container">
  <div class="editar-usuario-container">
    <div class="logo-container">
      <img class="logo-wisefinances" src="wisefinances.png" alt="Logo da Wise Finances" />
    </div>

    <mat-stepper linear #stepper>
      <mat-step [stepControl]="formGroupDadosPessoais" [editable]="isEditable">
        <form [formGroup]="formGroupDadosPessoais">
          <ng-template matStepLabel>Dados Pessoais</ng-template>

          <div class="primeiro-container">
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nome" />
              <mat-error *ngIf="formGroupDadosPessoais.get('nome')?.hasError('required')">
                Nome é obrigatório!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Sobrenome</mat-label>
              <input matInput formControlName="sobrenome" />
              <mat-error *ngIf="formGroupDadosPessoais.get('sobrenome')?.hasError('required')">
                Sobrenome é obrigatório!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Data de Nascimento</mat-label>
              <input 
              matInput 
              formControlName="dataNascimento" 
              mask="00/00/0000" />
              <mat-icon matPrefix>calendar_month</mat-icon>
              <mat-error *ngIf="formGroupDadosPessoais.get('dataNascimento')?.hasError('required')">
                Data de Nascimento é obrigatório!
              </mat-error>
              <mat-error *ngIf="formGroupDadosPessoais.get('dataNascimento')?.hasError('invalidDate') && formGroupDadosPessoais.get('dataNascimento')?.touched">
                Data de Nascimento Inválida!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="segundo-container">
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <mat-icon matPrefix>email</mat-icon>
              <input
                matInput
                placeholder="E-mail"
                formControlName="email"
                (blur)="verificarEmailExistente()"
                required />
              <mat-error *ngIf="formGroupDadosPessoais.get('email')?.invalid && formGroupDadosPessoais.get('email')?.touched">
                {{ getEmailError() }}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>CPF</mat-label>
              <input matInput formControlName="cpf" mask="000.000.000-00" />
              <mat-error *ngIf="formGroupDadosPessoais.get('cpf')?.hasError('required')">
                CPF é obrigatório!
              </mat-error>
              <mat-error *ngIf="formGroupDadosPessoais.get('cpf')?.hasError('invalidCPF') && formGroupDadosPessoais.get('cpf')?.touched">
                CPF Inválido!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Telefone</mat-label>
              <input
                matInput
                formControlName="telefone"
                mask="(00) 00000-0000" />
              <mat-error *ngIf="formGroupDadosPessoais.get('telefone')?.hasError('required')">
                Telefone é obrigatório!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="terceiro-container">
            <mat-form-field appearance="outline">
              <mat-label>Profissão</mat-label>
              <input matInput formControlName="profissao" />
              <mat-error *ngIf="formGroupDadosPessoais.get('profissao')?.hasError('required')">
                Profissão é obrigatório!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Empresa</mat-label>
              <input matInput formControlName="empresa" />
              <mat-error *ngIf="formGroupDadosPessoais.get('empresa')?.hasError('required')">
                Empresa é obrigatório!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Estado Civil</mat-label>
              <mat-select formControlName="estadoCivil">
                <mat-option [value]="1">Solteiro</mat-option>
                <mat-option [value]="2">União Estável</mat-option>
                <mat-option [value]="3">Casado</mat-option>
                <mat-option [value]="4">Divorciado</mat-option>
                <mat-option [value]="5">Viúvo</mat-option>                
              </mat-select>
              <mat-error *ngIf=" formGroupDadosPessoais.get('estadoCivil')?.hasError('required')">
                Selecione um Estado Civil!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="btn-container">
            <button mat-fab matStepperNext [routerLink]="['/dashboard']">
              CANCELAR
            </button>
            <button
              mat-fab
              matStepperNext
              (click)="verificarFormGroupDadosPessoais()">
              SALVAR
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [editable]="isEditable">
        <ng-template matStepLabel>Finalizar</ng-template>
      </mat-step>
    </mat-stepper>
  </div>

  <div class="footer-container">
    <footer>
      <p>© 2025 Wise Finances</p>
    </footer>
  </div>
</div>
