<div class="leFadeInLeft main-container">
  <div class="criar-conta-container">
    <div class="logo-container">
      <img
        class="logo-wisefinances"
        src="wisefinances.png"
        alt="Logo da Wise Finances" />
    </div>

    <mat-stepper linear #stepper>
      <mat-step [stepControl]="formGroupDadosPessoais" [editable]="isEditable">
        <form [formGroup]="formGroupDadosPessoais">
          <ng-template matStepLabel>Dados Pessoais</ng-template>

          <div class="primeiro-container">
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nome" />
              <mat-error
                *ngIf="formGroupDadosPessoais.get('nome')?.hasError('required')">
                Nome é obrigatório!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Sobrenome</mat-label>
              <input matInput formControlName="sobrenome" />
              <mat-error *ngIf="formGroupDadosPessoais.get('sobrenome')?.hasError('required')">
                Sobrenome é obrigatório!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Data de Nascimento</mat-label>
              <input
                matInput
                formControlName="dataNascimento"
                mask="00/00/0000"/>
              <mat-icon matPrefix>calendar_month</mat-icon>
              <mat-error *ngIf="formGroupDadosPessoais.get('dataNascimento')?.hasError('required')">
                Data de Nascimento é obrigatório!
              </mat-error>
              <mat-error *ngIf="formGroupDadosPessoais.get('dataNascimento')?.hasError('invalidDate') && formGroupDadosPessoais.get('dataNascimento')?.touched">
                Data de Nascimento Inválida!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="segundo-container">
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <mat-icon matPrefix>email</mat-icon>
              <input
                matInput
                placeholder="E-mail"
                formControlName="email"
                (blur)="verificarEmailExistente()"
                required />
              <mat-error *ngIf="formGroupDadosPessoais.get('email')?.invalid && formGroupDadosPessoais.get('email')?.touched">
                {{ getEmailError() }}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>CPF</mat-label>
              <input matInput formControlName="cpf" mask="000.000.000-00" />
              <mat-error *ngIf="formGroupDadosPessoais.get('cpf')?.hasError('required')">
                CPF é obrigatório!
              </mat-error>
              <mat-error *ngIf="formGroupDadosPessoais.get('cpf')?.hasError('invalidCPF') && formGroupDadosPessoais.get('cpf')?.touched">
                CPF Inválido!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Telefone</mat-label>
              <input
                matInput
                formControlName="telefone"
                mask="(00) 00000-0000"/>
              <mat-error *ngIf="formGroupDadosPessoais.get('telefone')?.hasError('required')">
                Telefone é obrigatório!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="terceiro-container">
            <mat-form-field appearance="outline">
              <mat-label>Profissão</mat-label>
              <input matInput formControlName="profissao" />
              <mat-error *ngIf="formGroupDadosPessoais.get('profissao')?.hasError('required')">
                Profissão é obrigatório!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Empresa</mat-label>
              <input matInput formControlName="empresa" />
              <mat-error *ngIf="formGroupDadosPessoais.get('empresa')?.hasError('required')">
                Empresa é obrigatório!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Estado Civil</mat-label>
              <mat-select formControlName="estadoCivil">
                <mat-option value="1">Solteiro</mat-option>
                <mat-option value="2">União Estável</mat-option>
                <mat-option value="3">Casado</mat-option>
                <mat-option value="4">Divorciado</mat-option>
                <mat-option value="5">Viúvo</mat-option>
              </mat-select>
              <mat-error *ngIf="formGroupDadosPessoais.get('estadoCivil')?.hasError('required')">
                Selecione um Estado Civil!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="btn-container">
            <button mat-fab matStepperNext [routerLink]="['/login']">
              CANCELAR
            </button>
            <button
              mat-fab
              matStepperNext
              (click)="verificarFormGroupDadosPessoais()">
              PRÓXIMO
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="formGroupLogin" [editable]="isEditable">
        <form [formGroup]="formGroupLogin">
          <ng-template matStepLabel>Login</ng-template>

          <div class="email-container">
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <mat-icon matPrefix>email</mat-icon>
              <input matInput formControlName="email" />
            </mat-form-field>
          </div>

          <div class="senha-container">
            <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <mat-icon matPrefix>lock</mat-icon>
              <input
                matInput
                [type]="hidePassword() ? 'password' : 'text'"
                formControlName="senha" />
              <button
                mat-icon-button
                matSuffix
                (click)="clickEventPassword($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword()">
                <mat-icon> {{ hidePassword() ? "visibility_off" : "visibility" }}</mat-icon>
              </button>
              <mat-error *ngIf="formGroupLogin.get('senha')?.hasError('required')">
                Senha é obrigatória!
              </mat-error>
              <mat-error *ngIf="formGroupLogin.get('senha')?.hasError('minlength')">
                A senha deve ter no mínimo 10 caracteres!
              </mat-error>
              <mat-error *ngIf="formGroupLogin.get('senha')?.hasError('senhaFraca')">
                A senha deve conter letra maiúscula, minúscula, número e caractere especial!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="confirmar-senha-container">
            <mat-form-field appearance="outline">
              <mat-label>Confirmar Senha</mat-label>
              <mat-icon matPrefix>lock</mat-icon>
              <input
                matInput
                [type]="hideConfirmPassword() ? 'password' : 'text'"
                formControlName="confirmarSenha"/>
              <button
                mat-icon-button
                matSuffix
                (click)="clickEventConfirmPassword($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideConfirmPassword()">
                <mat-icon>
                  {{ hideConfirmPassword() ? "visibility_off" : "visibility" }}
                </mat-icon>
              </button>
              <mat-error *ngIf="formGroupLogin.get('confirmarSenha')?.hasError('required')">
                Confirmar senha é obrigatória!
              </mat-error>
              <mat-error *ngIf="formGroupLogin.get('confirmarSenha')?.hasError('senhaDiferente')">
                As senhas precisam ser iguais!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="btn-finalizar-container">
            <button
              class="btn-finalizar"
              mat-fab
              (click)="verificarFormGroupLogin()">
              FINALIZAR
            </button>
          </div>

          <div class="btn-voltar-container">
            <button class="btn-voltar" mat-fab matStepperPrevious>
              VOLTAR
            </button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>

  <div class="footer-container">
    <footer>
      <p>© 2025 Wise Finances</p>
    </footer>
  </div>
</div>
