<div class="cssanimation leFadeInLeft sequence main-container">
  <div class="login-container">
    <div class="logo-container">
      <img
        class="logo-wisefinances"
        src="wisefinances.png"
        alt="Logo da Wise Finances" />
    </div>

    <div class="email-container">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <mat-icon matPrefix>email</mat-icon>
        <input
         matInput 
         placeholder="E-mail" 
         [formControl]="email" 
         required />
        <mat-error *ngIf="email.invalid">{{ getEmailError() }}</mat-error>
      </mat-form-field>
    </div>

    <div class="senha-container">
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input
          matInput
          placeholder="Senha"
          [formControl]="password"
          [type]="hide ? 'password' : 'text'"
          required />
        <mat-error *ngIf="password.invalid">{{ getSenhaError() }}</mat-error>
    
        <button
          mat-icon-button
          matSuffix
          (click)="toggleVisibility($event)"
          [attr.aria-label]="'Toggle password visibility'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
    
        <mat-hint align="end">
          <a [routerLink]="['/esqueceu-senha']">Esqueceu a senha?</a>
        </mat-hint>
      </mat-form-field>
    </div>
    
    <div class="btn-container">
      <button (click)="sendData()" class="btn-confirmar" mat-fab>CONFIRMAR</button>
    </div>

    <div class="criar-conta-container">
      <a [routerLink]="['/criar-conta']">Não tem uma conta? Crie uma agora!</a>
    </div>
  </div>

  <div class="footer-container">
    <footer>
      <p>© 2025 Wise Finances</p>
    </footer>
  </div>
</div>
